<section class="container-footer">
  <div class="details">
    <div class="box">
      <h3 class="title">Need Help?</h3>
      <a>Costs and methods</a>
      <a>App mobile My Rent</a>
      <a>How app works</a>
    </div>
    <div class="box">
      <h3 class="title">Find Us</h3>
      <p>Beverly Boulevard,<br>
        California, USA</p>
    </div>
    <div class="box">
      <h3 class="title">Contact Us</h3>
      <i class="fab fa-facebook"></i>
      <p>Tel:
        0645879871</p>
      <p>Email:
        my-rent@gmail.com</p>
    </div>
  </div>
  <footer>&copy; Copyright 2021 Asu Software</footer>
</section>
